<section id="alerts-basic" class="content">

  <h4 class="subheader">Basic Alerts</h4>
  <p>You can create an alert box using minimal markup.</p>

  <div class="row">
    <div class="large-6 columns">

      <h6 class="subheader">Rendered HTML</h6>
      <div data-alert="" class="alert-box">
        This is a standard alert.
        <a href="#" class="close">×</a>
      </div>

    </div>
    <div class="large-6 columns">

      <h6 class="subheader">HTML</h6>
      <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">data-alert</span> <span class="attribute">class</span>=<span class="value">"alert-box"</span>&gt;</span>
  <span class="comment">&lt;!-- Your content goes here --&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"close"</span>&gt;</span>&amp;times;<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>

    </div>
  </div>

</section>
