<section id="topbar-accessibility" class="content">

  <h4 class="subheader">Accessible Top Bars</h4>
  <p>The top bar is a complex component with a lot of different features. However, it's still fully keyboard and screen reader accessible. The main thing you need to add if upgrading from an older version of Foundation is the attribute <code>role="navigation"</code> to the top bar container. Additionally, if your page uses top bar and off-canvas navigation, add the attribute <code>aria-hidden="true"</code> to one of them—otherwise, the user's device will tab through (and possibly read) both of them before reaching any content.</p>

</section>
