<section id="button-groups-customization" class="content">

  <h4 class="subheader">Customizing Button Groups</h4>
  <p>Button groups can be easily customized with the Sass variables provided in the <code>_settings.scss</code> file.</p>
  
  <h6 class="subheader">SCSS</h6>
  <pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-<span class="tag">button</span>-classes<span class="value">: $include-html-classes;</span>

<span class="comment">// Sets the margin for the right side by default, and the left margin if right-to-left direction is used</span>
$<span class="tag">button</span>-bar-<span class="attribute">margin</span>-opposite<span class="value">: rem-calc(<span class="number">10</span>);</span>
$<span class="tag">button</span>-group-<span class="attribute">border-width</span><span class="value">: <span class="number">1</span>px;</span></div></code></pre>

</section>
