<section id="button-groups-preview" class="content active">

  <h6 class="subheader">Basic</h6>
  <ul class="button-group">
    <li><a href="#" class="button">Button 1</a></li>
    <li><a href="#" class="button">Button 2</a></li>
    <li><a href="#" class="button">Button 3</a></li>
  </ul>

  <br />

  <h6 class="subheader">Advanced (Even)</h6>
  <ul class="button-group even-3">
    <li><a href="#" class="button">Even Button 1</a></li>
    <li><a href="#" class="button">Even Button 2</a></li>
    <li><a href="#" class="button">Even Button 3</a></li>
  </ul>

  <br />

  <h6 class="subheader">Styles (shapes)</h6>
  <div class="row">
    <div class="small-6 columns">
      <ul class="button-group radius">
        <li><a href="#" class="button">Radius Button 1</a></li>
        <li><a href="#" class="button">Radius Button 2</a></li>
        <li><a href="#" class="button">Radius Button 3</a></li>
      </ul>
    </div>
    <div class="small-6 columns">
      <ul class="button-group round">
        <li><a href="#" class="button">Round Button 1</a></li>
        <li><a href="#" class="button">Round Button 2</a></li>
        <li><a href="#" class="button">Round Button 3</a></li>
      </ul>
    </div>
  </div>

  <br />

  <h6 class="subheader">Stacked</h6>
  <div class="row">
    <div class="medium-6 columns">
      <h6 for="">Stack</h6>
      <ul class="stack button-group">
        <li><a href="#" class="button">Button 1</a></li>
        <li><a href="#" class="button">Button 2</a></li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <h6 for="">Stack for Small</h6>
      <ul class="stack-for-small button-group">
        <li><a href="#" class="button">Button 1</a></li>
        <li><a href="#" class="button">Button 2</a></li>
      </ul>
    </div>
  </div>

  <br />

  <h6 class="subheader">Bars</h6>
  <div class="button-bar">
    <ul class="button-group">
      <li><a href="#" class="small button">Button 1</a></li>
      <li><a href="#" class="small button">Button 2</a></li>
      <li><a href="#" class="small button">Button 3</a></li>
    </ul>
    <ul class="button-group">
      <li><a href="#" class="small button">Button 1</a></li>
      <li><a href="#" class="small button">Button 2</a></li>
      <li><a href="#" class="small button">Button 3</a></li>
    </ul>
  </div>

</section>
