<section id="visibility-show" class="content active">

  <h4 class="subheader">Screen Size Visibility Control (Show)</h4>
  <p>The following text should describe the screen size you're using:</p>

  <div class="row">
    <div class="large-6 columns">

      <h6 class="subheader">Rendered HTML</h6>
      <p class="panel">
        <strong class="show-for-small-only">This text is shown only on a small screen.</strong>
        <strong class="show-for-medium-up">This text is shown on medium screens and up.</strong>
        <strong class="show-for-medium-only">This text is shown only on a medium screen.</strong>
        <strong class="show-for-large-up">This text is shown on large screens and up.</strong>
        <strong class="show-for-large-only">This text is shown only on a large screen.</strong>
        <strong class="show-for-xlarge-up">This text is shown on xlarge screens and up.</strong>
        <strong class="show-for-xlarge-only">This text is shown only on an xlarge screen.</strong>
        <strong class="show-for-xxlarge-up">This text is shown on xxlarge screens and up.</strong>
      </p>

    </div>
    <div class="large-6 columns">

      <h6 class="subheader">HTML</h6>
      <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">p</span> <span class="attribute">class</span>=<span class="value">"panel"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-small-only"</span>&gt;</span>This text is shown only on a small screen.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-medium-up"</span>&gt;</span>This text is shown on medium screens and up.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-medium-only"</span>&gt;</span>This text is shown only on a medium screen.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-large-up"</span>&gt;</span>This text is shown on large screens and up.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-large-only"</span>&gt;</span>This text is shown only on a large screen.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-xlarge-up"</span>&gt;</span>This text is shown on xlarge screens and up.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-xlarge-only"</span>&gt;</span>This text is shown only on an xlarge screen.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-xxlarge-up"</span>&gt;</span>This text is shown on xxlarge screens and up.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
<span class="tag">&lt;/<span class="title">p</span>&gt;</span></div></code></pre>

    </div>
  </div>

</section>
