<section id="visibility-orientation" class="content">

  <h4 class="subheader">Orientation Detection</h4>
  <p>The following text should describe the device orientation you're using:</p>

  <div class="row">
    <div class="large-6 columns">

      <h6 class="subheader">Rendered HTML</h6>
      <p class="panel">
        <strong class="show-for-landscape">You are in landscape orientation.</strong>
        <strong class="show-for-portrait">You are in portrait orientation.</strong>
      </p>

    </div>
    <div class="large-6 columns">
      
      <h6 class="subheader">HTML</h6>
      <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">p</span> <span class="attribute">class</span>=<span class="value">"panel"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-landscape"</span>&gt;</span>You are in landscape orientation.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-portrait"</span>&gt;</span>You are in portrait orientation.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
<span class="tag">&lt;/<span class="title">p</span>&gt;</span></div></code></pre>

    </div>
  </div>

</section>
