<section id="visibility-touch" class="content">

  <h4 class="subheader">Touch Detection</h4>
  <p>The following text should describe if you're using a touch device:</p>

  <div class="row">
    <div class="large-6 columns">

      <h6 class="subheader">Rendered HTML</h6>
      <p class="panel">
        <strong class="show-for-touch">You are on a touch-enabled device.</strong>
        <strong class="hide-for-touch">You are not on a touch-enabled device.</strong>
      </p>

    </div>
    <div class="large-6 columns">
      
      <h6 class="subheader">HTML</h6>
      <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">p</span> <span class="attribute">class</span>=<span class="value">"panel"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"show-for-touch"</span>&gt;</span>You are on a touch-enabled device.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
  <span class="tag">&lt;<span class="title">strong</span> <span class="attribute">class</span>=<span class="value">"hide-for-touch"</span>&gt;</span>You are not on a touch-enabled device.<span class="tag">&lt;/<span class="title">strong</span>&gt;</span>
<span class="tag">&lt;/<span class="title">p</span>&gt;</span></div></code></pre>

    </div>
  </div>

</section>
