<h2 id="accordion">Accordion</h2>
<h3 class="subheader">Accordions are elements used to expand and collapse content that is broken into logical sections, much like tabs.</h3>

<dl class="tabs" data-tab="" data-options="deep_linking:true">
  <dd class="active"><a href="#accordion-basic">Basic</a></dd>
  <dd><a href="#accordion-distributed">Distributed</a></dd>
  <dd><a href="#accordion-callbacks">Callbacks</a></dd>
  <dd><a href="#accordion-customization">Customization</a></dd>
</dl>

<div class="tabs-content">
  <div id="accordion-basic" class="content active">

    <h4 class="subheader">Basic Accordion</h4>
    <p>You can create an accordion using minimal markup like so:</p>
    <div class="row">
      <div class="large-6 columns">
        <h6 class="subheader">Rendered HTML</h6>
        <ul class="accordion" data-accordion="">
          <li class="accordion-navigation">
            <a href="#panel3a">Accordion 1</a>
            <div id="panel3a" class="content active">
              Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </li>
          <li class="accordion-navigation">
            <a href="#panel3b">Accordion 2</a>
            <div id="panel3b" class="content">
              Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </li>
          <li class="accordion-navigation">
            <a href="#panel3c">Accordion 3</a>
            <div id="panel3c" class="content">
              Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </li>
        </ul>
      </div>
      <div class="large-6 columns">
        <h6 class="subheader">HTML</h6>
        <pre><code class="language-html"><div class="code-container"><span class="comment">&lt;!-- If you are using version 5.5 or greater you can use &lt;ul&gt;'s and &lt;li&gt;'s for Accordion markup --&gt;</span>

<span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"accordion"</span> <span class="attribute">data-accordion</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel1a"</span>&gt;</span>Accordion 1<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel1a"</span> <span class="attribute">class</span>=<span class="value">"content active"</span>&gt;</span>
      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2a"</span>&gt;</span>Accordion 2<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel2a"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
      Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel3a"</span>&gt;</span>Accordion 3<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel3a"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span>

<span class="comment">&lt;!-- Also works with &lt;dl&gt;'s and &lt;dt&gt;'s in place of &lt;ul&gt;'s and &lt;li&gt;'s. --&gt;</span>

<span class="tag">&lt;<span class="title">dl</span> <span class="attribute">class</span>=<span class="value">"accordion"</span> <span class="attribute">data-accordion</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel1b"</span>&gt;</span>Accordion 1<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel1b"</span> <span class="attribute">class</span>=<span class="value">"content active"</span>&gt;</span>
      Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2b"</span>&gt;</span>Accordion 2<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel2b"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
      Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel3b"</span>&gt;</span>Accordion 3<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel3b"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
<span class="tag">&lt;/<span class="title">dl</span>&gt;</span></div></code></pre>
      </div>
    </div>


  </div>
  <div id="accordion-distributed" class="content">


    <h4 class="subheader">Distributed Accordion Groups</h4>
    <p>You can name the accordion so that it can be spread across different parent containers.  In this example the accordion is named <em>myAccordionGroup</em> and it is split between different columns in a block grid.  This allows the accordion to be responsive to screen width.</p>
    <div class="row">
      <div class="large-6 columns">
        <h6 class="subheader">Rendered HTML</h6>
        <ul class="small-block-grid-1 medium-block-grid-3">
          <li>
            <ul class="accordion" data-accordion="myAccordionGroup">
              <li class="accordion-navigation">
                <a href="#panel1c">Accordion 1</a>
                <div id="panel1c" class="content">
                  Panel 1. Lorem ipsum dolor
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#panel2c">Accordion 2</a>
                <div id="panel2c" class="content">
                  Panel 2. Lorem ipsum dolor
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#panel3c">Accordion 3</a>
                <div id="panel3c" class="content">
                  Panel 3. Lorem ipsum dolor
                </div>
              </li>
            </ul>
          </li>
          <li>
            <ul class="accordion" data-accordion="myAccordionGroup">
              <li class="accordion-navigation">
                <a href="#panel4c">Accordion 4</a>
                <div id="panel4c" class="content">
                  Panel 4. Lorem ipsum dolor
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#panel5c">Accordion 5</a>
                <div id="panel5c" class="content">
                  Panel 5. Lorem ipsum dolor
                </div>
              </li>
              <li class="accordion-navigation">
                <a href="#panel6c">Accordion 6</a>
                <div id="panel6c" class="content">
                  Panel 6. Lorem ipsum dolor
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="large-6 columns">
        <h6 class="subheader">HTML</h6>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"small-block-grid-1 medium-block-grid-3"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"accordion"</span> <span class="attribute">data-accordion</span>=<span class="value">"myAccordionGroup"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel1c"</span>&gt;</span>Accordion 1<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel1c"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
          Panel 1. Lorem ipsum dolor
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2c"</span>&gt;</span>Accordion 2<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel2c"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
          Panel 2. Lorem ipsum dolor
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel3c"</span>&gt;</span>Accordion 3<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel3c"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
          Panel 3. Lorem ipsum dolor
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"accordion"</span> <span class="attribute">data-accordion</span>=<span class="value">"myAccordionGroup"</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel4c"</span>&gt;</span>Accordion 4<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel4c"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
          Panel 4. Lorem ipsum dolor
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel5c"</span>&gt;</span>Accordion 5<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel5c"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
          Panel 5. Lorem ipsum dolor
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
      <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"accordion-navigation"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel6c"</span>&gt;</span>Accordion 6<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">"panel6c"</span> <span class="attribute">class</span>=<span class="value">"content"</span>&gt;</span>
          Panel 6. Lorem ipsum dolor
        <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
      <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></div></code></pre>
      </div>
    </div>


  </div>
  <div id="accordion-callbacks" class="content">


    <h4 class="subheader">Accordion Callbacks</h4>
    <p>There are two ways to bind to callbacks in your accordions.</p>
    <div class="row">
      <div class="large-6 columns">
        <h6 class="subheader">Callback Function</h6>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">script</span>&gt;</span><span class="javascript">
  $(document).foundation({
    accordion: {
      callback : <span class="function"><span class="keyword">function</span> <span class="params">(accordion)</span> {</span>
        console.log(accordion);
      }
    }
  });
</span><span class="tag">&lt;/<span class="title">script</span>&gt;</span></div></code></pre>
      </div>
      <div class="large-6 columns">
        <h6 class="subheader">Toggled Event</h6>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">script</span>&gt;</span><span class="javascript">
  $(<span class="string">'#myAccordionGroup'</span>).on(<span class="string">'toggled'</span>, <span class="function"><span class="keyword">function</span> <span class="params">(event, accordion)</span> {</span>
    console.log(accordion);
  });
</span><span class="tag">&lt;/<span class="title">script</span>&gt;</span></div></code></pre>
      </div>
    </div>


  </div>
  <div id="accordion-customization" class="content">


    <h4 class="subheader">Customizing Accordion</h4>
    <p>Accordions can be easily customized with the Sass variables provided in the <code>_settings.scss</code> file.</p>
    <h6 class="subheader">SCSS</h6>
    <pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-accordion-classes<span class="value">: $include-html-classes;</span>

$accordion-navigation-<span class="attribute">padding</span><span class="value">: rem-calc(<span class="number">16</span>);</span>
$accordion-navigation-bg-<span class="attribute">color</span><span class="value">: $silver;</span>
$accordion-navigation-hover-bg-<span class="attribute">color</span><span class="value">: scale-color($accordion-navigation-bg-color, $lightness: -<span class="number">5</span>%);</span>
$accordion-navigation-active-bg-<span class="attribute">color</span><span class="value">: scale-color($accordion-navigation-bg-color, $lightness: -<span class="number">3</span>%);</span>
$accordion-navigation-<span class="attribute">font</span>-<span class="attribute">color</span><span class="value">: $jet;</span>
$accordion-navigation-<span class="attribute">font-size</span><span class="value">: rem-calc(<span class="number">16</span>);</span>
$accordion-navigation-<span class="attribute">font-family</span><span class="value">: $body-font-family;</span>

$accordion-<span class="attribute">content</span>-<span class="attribute">padding</span><span class="value">: $column-gutter/<span class="number">2</span>;</span>
$accordion-<span class="attribute">content</span>-active-bg-<span class="attribute">color</span><span class="value">: $white;</span></div></code></pre>
    <br />
    <p>It's easy to configure accordions using our provided Javascript. You can use data-attributes or plain old Javascript. Make sure <code>jquery.js</code>, <code>foundation.js</code> and <code>foundation.accordion.js</code> have been included on your page before continuing.</p>
    <h6 class="subheader">JS</h6>
    <pre><code class="language-js"><div class="code-container">$(document).foundation({
  accordion: {
    <span class="comment">// specify the class used for accordion panels</span>
    content_class: <span class="string">'content'</span>,
    <span class="comment">// specify the class used for active (or open) accordion panels</span>
    active_class: <span class="string">'active'</span>,
    <span class="comment">// allow multiple accordion panels to be active at the same time</span>
    multi_expand: <span class="literal">false</span>,
    <span class="comment">// allow accordion panels to be closed by clicking on their headers</span>
    <span class="comment">// setting to false only closes accordion panels when another is opened</span>
    toggleable: <span class="literal">true</span>
  }
});</div></code></pre>


  </div>
</div>

<hr />
