<section id="alerts">

  <h2>Alerts</h2>
  <h3 class="subheader">Alerts are handy elements you can drop into a form or inline on a page to communicate success, warnings, failure or just information. They'll conform to 100% of the container width you put them in.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#alerts-preview">Preview</a></dd>
    <dd><a href="#alerts-basic">Basic</a></dd>
    <dd><a href="#alerts-advanced">Advanced</a></dd>
    <dd><a href="#alerts-accessibility">Accessibility</a></dd>
    <dd><a href="#alerts-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> alerts-preview }}
    {{> alerts-basic }}
    {{> alerts-advanced }}
    {{> alerts-accessibility }}
    {{> alerts-customization }}
  </div>

</section>

<hr />
