<section id="block-grid">

  <h2>Block Grid</h2>
  <h3 class="subheader">Block grids give you a way to evenly split contents of a list within the grid. If you wanted to create a row of five images or paragraphs that need to stay evenly spaced no matter the screen size, the block grid is for you.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#block-grid-preview">Preview</a></dd>
    <dd><a href="#block-grid-basic">Basic</a></dd>
    <dd><a href="#block-grid-advanced">Advanced</a></dd>
    <dd><a href="#block-grid-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> block-grid-preview }}
    {{> block-grid-basic }}
    {{> block-grid-advanced }}
    {{> block-grid-customization }}
  </div>

</section>

<hr />
