<section id="breadcrumbs">
  
  <h2>Breadcrumbs</h2>
  <h3 class="subheader">Breadcrumbs come in handy to show a navigation trail for users clicking through a site or app. They'll fill out 100% of the width of their parent container.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#breadcrumbs-basic">Basic</a></dd>
    <dd><a href="#breadcrumbs-accessibility">Accessibility</a></dd>
    <dd><a href="#breadcrumbs-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> breadcrumbs-basic }}
    {{> breadcrumbs-accessibility }}
    {{> breadcrumbs-customization }}
  </div>

</section>

<hr />
