<section id="buttons">

  <h2>Buttons</h2>
  <h3 class="subheader">Buttons are convenient tools when you need more traditional actions. To that end, Foundation has many easy to use button styles that you can customize or override to fit your needs.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#buttons-preview">Preview</a></dd>
    <dd><a href="#buttons-basic">Basic</a></dd>
    <dd><a href="#buttons-sizes">Sizes</a></dd>
    <dd><a href="#buttons-colors">Colors</a></dd>
    <dd><a href="#buttons-accessibility">Accessibility</a></dd>
    <dd><a href="#buttons-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> buttons-preview }}
    {{> buttons-basic }}
    {{> buttons-sizes }}
    {{> buttons-colors }}
    {{> buttons-accessibility }}
    {{> buttons-customization }}
  </div>

</section>

<hr />
