<section id="button-groups">

  <h2>Button Groups</h2>
  <h3 class="subheader">Button groups are containers for related action items. They're great when you need to display a group of actions in a bar. These build off the button styles and work perfectly with the grid.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#button-groups-preview">Preview</a></dd>
    <dd><a href="#button-groups-basic">Basic</a></dd>
    <dd><a href="#button-groups-advanced">Advanced</a></dd>
    <dd><a href="#button-groups-styling">Styles</a></dd>
    <dd><a href="#button-groups-stacking">Stacking</a></dd>
    <dd><a href="#button-groups-bars">Bars</a></dd>
    <dd><a href="#button-groups-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> button-groups-preview }}
    {{> button-groups-basic }}
    {{> button-groups-advanced }}
    {{> button-groups-styling }}
    {{> button-groups-stacking }}
    {{> button-groups-bars }}
    {{> button-groups-customization }}
  </div>

</section>

<hr />
