<section id="grid">

  <h2>Grid</h2>
  <h3 class="subheader">Create powerful multi-device layouts quickly and easily with the default 12-column, nest-able Foundation grid. If you're familiar with grid systems, you'll feel right at home. If not, you'll learn quickly.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#grid-preview">Preview</a></dd>
    <dd><a href="#grid-basic">Basic</a></dd>
    <dd><a href="#grid-incomplete">Incomplete</a></dd>
    <dd><a href="#grid-collapsable">Collapsable</a></dd>
    <dd><a href="#grid-centering">Centering</a></dd>
    <dd><a href="#grid-reordering">Re-Ordering</a></dd>
    <dd><a href="#grid-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> grid-preview }}
    {{> grid-basic }}
    {{> grid-incomplete }}
    {{> grid-collapsable }}
    {{> grid-centering }}
    {{> grid-reordering }}
    {{> grid-customization }}
  </div>

</section>

<hr />
