<section id="panels">

  <h2>Panels</h2>
  <h3 class="subheader">A panel is a simple, helpful Foundation component that enables you to outline sections of your page easily. This allows you to view your page sections as you add content to them, or add emphasis to a section. The width is controlled by the grid columns you put them inside.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#panels-preview">Preview</a></dd>
    <dd><a href="#panels-basic">Basic</a></dd>
    <dd><a href="#panels-accessibility">Accessibility</a></dd>
    <dd><a href="#panels-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> panels-preview }}
    {{> panels-basic }}
    {{> panels-advanced }}
    {{> panels-customization }}
  </div>

</section>

<hr />
