<section id="split-buttons">

  <h2>Split Buttons</h2>
  <h3 class="subheader">We've simplified our split downdrop buttons by removing the dedicated ones associated with a style of button. Instead, you'll use our <a href="#dropdowns">new dropdown plugin</a> to attach a split button to the button style of your choice.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#split-buttons-preview">Preview</a></dd>
    <dd><a href="#split-buttons-basic">Basic</a></dd>
    <dd><a href="#split-buttons-advanced">Advanced</a></dd>
    <dd><a href="#split-buttons-custom-pip">Custom Pip</a></dd>
    <dd><a href="#split-buttons-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> split-buttons-preview }}
    {{> split-buttons-basic }}
    {{> split-buttons-advanced }}
    {{> split-buttons-custom-pip }}
    {{> split-buttons-customization }}
  </div>

</section>

<hr />
