<h2 id="split-buttons">Split Buttons</h2>
<h3 class="subheader">We've simplified our split downdrop buttons by removing the dedicated ones associated with a style of button. Instead, you'll use our <a href="#dropdowns">new dropdown plugin</a> to attach a split button to the button style of your choice.</h3>

<ul class="accordion" data-accordion>

  <li class="accordion-navigation">
    <a href="#split-buttons-basic"><h4>Basic</h4></a>
    <div id="split-buttons-basic" class="content">

      <h5 class="subheader">Basic Split Buttons</h5>
      <p>You can create a split button using minimal markup.</p>
      <div class="row">
        <div class="large-6 columns">
          <h6 class="subheader">HTML</h6>
          <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button split"</span>&gt;</span>Split Button <span class="tag">&lt;<span class="title">span</span> <span class="attribute">data-dropdown</span>=<span class="value">"drop"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;<span class="title">br</span>&gt;</span>
<span class="tag">&lt;<span class="title">ul</span> <span class="attribute">id</span>=<span class="value">"drop"</span> <span class="attribute">class</span>=<span class="value">"f-dropdown"</span> <span class="attribute">data-dropdown-content</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>This is a link<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>This is another<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>Yet another<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></div></code></pre>
        </div>
        <div class="large-6 columns">
          <h6 class="subheader">Rendered HTML</h6>
          <a href="#" class="button split">Split Button <span data-dropdown="drop"></span></a>
          <ul id="drop" class="f-dropdown" data-dropdown-content="">
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is another</a></li>
            <li><a href="#">Yet another</a></li>
          </ul>
        </div>
      </div>

      <hr />
    </div>
  </li>

  <li class="accordion-navigation">
    <a href="#split-buttons-advanced"><h4>Advanced</h4></a>
    <div id="split-buttons-advanced" class="content">

      <h5 class="subheader">Advanced Split Buttons</h5>
      <p>Additional classes can be added to your component to change its size and shape.</p>
      <div class="row">
        <div class="large-6 columns">
          <h6 class="subheader">HTML</h6>
          <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"[tiny small medium large] [secondary alert success] [radius round] button split"</span>&gt;</span>Split Button <span class="tag">&lt;<span class="title">span</span> <span class="attribute">data-dropdown</span>=<span class="value">"drop"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;<span class="title">br</span>&gt;</span>
<span class="tag">&lt;<span class="title">ul</span> <span class="attribute">id</span>=<span class="value">"drop"</span> <span class="attribute">class</span>=<span class="value">"f-dropdown"</span> <span class="attribute">data-dropdown-content</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>This is a link<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>This is another<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span>&gt;</span>Yet another<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></div></code></pre>
        </div>
        <div class="large-6 columns">
          <h6 class="subheader">Rendered HTML</h6>
          <a href="#" class="small alert round button split">Small Alert Round <span data-dropdown="drop223" aria-expanded="false"></span></a>
          <a href="#" class="large success radius button split">Large Success Radius <span data-dropdown="drop223" aria-expanded="false"></span></a>
          <ul id="drop223" class="f-dropdown" data-dropdown-content="">
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is another</a></li>
            <li><a href="#">Yet another</a></li>
          </ul>
        </div>
      </div>

      <hr />
    </div>
  </li>

  <li class="accordion-navigation">
    <a href="#split-buttons-pip"><h4>Custom Pip</h4></a>
    <div id="split-buttons-pip" class="content">

      <h5 class="subheader">Customizing Split Button Pips</h5>
      <p>If you desire to use your own pip in the split button, the <code>no-pip</code> class will remove ours and allow you to place any icon inside of the pip span.</p>
      <div class="row">
        <div class="large-6 columns">
          <h6 class="subheader">HTML</h6>
          <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button split no-pip"</span>&gt;</span>Custom Pip<span class="tag">&lt;<span class="title">span</span>&gt;</span><span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">"fi-arrow-down"</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>
        </div>
        <div class="large-6 columns">
          <h6 class="subheader">Rendered HTML</h6>
          <a href="#" class="button split no-pip">Custom Pip<span><i class="fi-arrow-down"></i></span></a>
        </div>
      </div>

      <hr />
    </div>
  </li>

  <li class="accordion-navigation">
    <a href="#split-buttons-customization"><h4>Customization</h4></a>
    <div id="split-buttons-customization" class="content">

      <h5 class="subheader">Customizing Split Buttons</h5>
      <p>Split buttons can be easily customized with the Sass variables provided in the <code>_settings.scss</code> file.</p>
      <h6 class="subheader">SCSS</h6>
      <pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-<span class="tag">button</span>-classes<span class="value">: $include-html-classes;</span>

<span class="comment">/* We use these to control different shared styles for Split Buttons */</span>
$split-<span class="tag">button</span>-function-factor<span class="value">: <span class="number">15</span>%;</span>
$split-<span class="tag">button</span>-pip-<span class="attribute">color</span><span class="value">: <span class="hexcolor">#fff</span>;</span>
$split-<span class="tag">button</span>-pip-<span class="attribute">color</span>-alt<span class="value">: <span class="hexcolor">#333</span>;</span>
$split-<span class="tag">button</span>-active-bg-tint<span class="value">: rgba(<span class="number">0</span>,<span class="number">0</span>,<span class="number">0</span>,<span class="number">0.1</span>);</span>

<span class="comment">/* We use these to control tiny split buttons */</span>
$split-<span class="tag">button</span>-<span class="attribute">padding</span>-tny<span class="value">: $button-tny * <span class="number">9</span>;</span>
$split-<span class="tag">button</span>-<span class="tag">span</span>-<span class="attribute">width</span>-tny<span class="value">: $button-tny * <span class="number">6.5</span>;</span>
$split-<span class="tag">button</span>-pip-size-tny<span class="value">: $button-tny;</span>
$split-<span class="tag">button</span>-pip-<span class="attribute">top</span>-tny<span class="value">: $button-tny * <span class="number">2</span>;</span>
$split-<span class="tag">button</span>-pip-<span class="value">default</span>-<span class="attribute">float</span>-tny<span class="value">: rem-calc(-<span class="number">5</span>);</span>

<span class="comment">/* We use these to control small split buttons */</span>
$split-<span class="tag">button</span>-<span class="attribute">padding</span>-sml<span class="value">: $button-sml * <span class="number">7</span>;</span>
$split-<span class="tag">button</span>-<span class="tag">span</span>-<span class="attribute">width</span>-sml<span class="value">: $button-sml * <span class="number">5</span>;</span>
$split-<span class="tag">button</span>-pip-size-sml<span class="value">: $button-sml;</span>
$split-<span class="tag">button</span>-pip-<span class="attribute">top</span>-sml<span class="value">: $button-sml * <span class="number">1.5</span>;</span>
$split-<span class="tag">button</span>-pip-<span class="value">default</span>-<span class="attribute">float</span>-sml<span class="value">: rem-calc(-<span class="number">9</span>);</span>

<span class="comment">/* We use these to control medium split buttons */</span>
$split-<span class="tag">button</span>-<span class="attribute">padding</span>-med<span class="value">: $button-med * <span class="number">6.4</span>;</span>
$split-<span class="tag">button</span>-<span class="tag">span</span>-<span class="attribute">width</span>-med<span class="value">: $button-med * <span class="number">4</span>;</span>
$split-<span class="tag">button</span>-pip-size-med<span class="value">: $button-med - rem-calc(<span class="number">3</span>);</span>
$split-<span class="tag">button</span>-pip-<span class="attribute">top</span>-med<span class="value">: $button-med * <span class="number">1.5</span>;</span>
$split-<span class="tag">button</span>-pip-<span class="value">default</span>-<span class="attribute">float</span>-med<span class="value">: rem-calc(-<span class="number">9</span>);</span>

<span class="comment">/* We use these to control large split buttons */</span>
$split-<span class="tag">button</span>-<span class="attribute">padding</span>-lrg<span class="value">: $button-lrg * <span class="number">6</span>;</span>
$split-<span class="tag">button</span>-<span class="tag">span</span>-<span class="attribute">width</span>-lrg<span class="value">: $button-lrg * <span class="number">3.75</span>;</span>
$split-<span class="tag">button</span>-pip-size-lrg<span class="value">: $button-lrg - rem-calc(<span class="number">6</span>);</span>
$split-<span class="tag">button</span>-pip-<span class="attribute">top</span>-lrg<span class="value">: $button-lrg + rem-calc(<span class="number">5</span>);</span>
$split-<span class="tag">button</span>-pip-<span class="value">default</span>-<span class="attribute">float</span>-lrg<span class="value">: rem-calc(-<span class="number">9</span>);</span></div></code></pre>

      <hr />
    </div>
  </li>

</ul>

<hr />
