<h2 id="tabs">Tabs</h2>
<h3 class="subheader">Tabs are elements that help you organize and navigate multiple documents in a single container. They can be used for switching between items in the container.</h3>

<dl class="tabs" data-tab="" data-options="deep_linking:true">
  <dd class="active"><a href="#tabs-horizontal">Horizontal</a></dd>
  <dd><a href="#tabs-vertical">Vertical</a></dd>
  <dd><a href="#tabs-deep-linking">Deep Linking</a></dd>
  <dd><a href="#tabs-callbacks">Callbacks</a></dd>
  <dd><a href="#tabs-accessibility">Accessibility</a></dd>
  <dd><a href="#tabs-customization">Customization</a></dd>
</dl>

<div class="tabs-content">
  <div id="tabs-horizontal" class="content active">

    <h4 class="subheader">Horizontal Tabs</h4>
    <p>You can create a group of horizontal tabs using minimal markup.</p>
    <br />
    <h6 class="subheader">Rendered HTML</h6>
    <dl class="tabs" data-tab="">
      <dd class="active"><a href="#tab1">Tab 1</a></dd>
      <dd><a href="#tab2">Tab 2</a></dd>
      <dd><a href="#tab3">Tab 3</a></dd>
      <dd><a href="#tab4">Tab 4</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="tab1">
        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
      </div>
      <div class="content" id="tab2">
        <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
      </div>
      <div class="content" id="tab3">
        <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
      </div>
      <div class="content" id="tab4">
        <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
      </div>
    </div>
    <h6 class="subheader">HTML</h6>
    <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">dl</span> <span class="attribute">class</span>=<span class="value">"tabs"</span> <span class="attribute">data-tab</span>&gt;</span>
<span class="tag">&lt;<span class="title">dd</span> <span class="attribute">class</span>=<span class="value">"active"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel1"</span>&gt;</span>Tab 1<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2"</span>&gt;</span>Tab 2<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel3"</span>&gt;</span>Tab 3<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel4"</span>&gt;</span>Tab 4<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
<span class="tag">&lt;/<span class="title">dl</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"tabs-content"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"content active"</span> <span class="attribute">id</span>=<span class="value">"panel1"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>This is the first panel of the basic tab example. This is the first panel of the basic tab example.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel2"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>This is the second panel of the basic tab example. This is the second panel of the basic tab example.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel3"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>This is the third panel of the basic tab example. This is the third panel of the basic tab example.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel4"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>


  </div>

  <div id="tabs-vertical" class="content">

    <h4 class="subheader">Vertical Tabs</h4>
    <p>You can create a group of vertical tabs using minimal markup. Just adding the class <code>vertical</code> changes the orientation of horizontal tabs.</p>
    <br />
    <h6 class="subheader">Rendered HTML</h6>
    <dl class="tabs vertical" data-tab="">
      <dd class="active"><a href="#tab1">Tab 1</a></dd>
      <dd><a href="#tab2">Tab 2</a></dd>
      <dd><a href="#tab3">Tab 3</a></dd>
      <dd><a href="#tab4">Tab 4</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="tab1">
        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, pariatur accusantium magni cumque vel voluptates illum repellendus sed dignissimos magnam! Deleniti, fugit tempore quibusdam molestias iusto asperiores incidunt sint nemo?</p>
      </div>
      <div class="content" id="tab2">
        <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, pariatur accusantium magni cumque vel voluptates illum repellendus sed dignissimos magnam! Deleniti, fugit tempore quibusdam molestias iusto asperiores incidunt sint nemo?</p>
      </div>
      <div class="content" id="tab3">
        <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, pariatur accusantium magni cumque vel voluptates illum repellendus sed dignissimos magnam! Deleniti, fugit tempore quibusdam molestias iusto asperiores incidunt sint nemo?</p>
      </div>
      <div class="content" id="tab4">
        <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, pariatur accusantium magni cumque vel voluptates illum repellendus sed dignissimos magnam! Deleniti, fugit tempore quibusdam molestias iusto asperiores incidunt sint nemo?</p>
      </div>
    </div>
    <br />
    <h6 class="subheader">HTML</h6>
    <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">dl</span> <span class="attribute">class</span>=<span class="value">"tabs vertical"</span> <span class="attribute">data-tab</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span> <span class="attribute">class</span>=<span class="value">"active"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel1"</span>&gt;</span>Tab 1<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2"</span>&gt;</span>Tab 2<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel3"</span>&gt;</span>Tab 3<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
  <span class="tag">&lt;<span class="title">dd</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel4"</span>&gt;</span>Tab 4<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">dd</span>&gt;</span>
<span class="tag">&lt;/<span class="title">dl</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"tabs-content vertical"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"content active"</span> <span class="attribute">id</span>=<span class="value">"panel1"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>This is the first panel of the basic tab example. This is the first panel of the basic tab example.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel2"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>This is the second panel of the basic tab example. This is the second panel of the basic tab example.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel3"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>This is the third panel of the basic tab example. This is the third panel of the basic tab example.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel4"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">p</span>&gt;</span>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>


  </div>

  <div id="tabs-deep-linking" class="content">

    <h4 class="subheader">Deep Linking Tabs</h4>
    <p>The tabs Foundation component can parse the location hash value and open the corresponding tab content pane. To enable deep linking set <code>data-options="deep_linking:true"</code>. If the location hash maps to an element ID within a tab content pane, then the appropriate tab will become active and the browser window will scroll to the specified element. If you do not want to scroll to the specified element then set <code>data-options="scroll_to_content: false"</code>.</p>
    <p>In the following example, deep linking is enabled. If the location hash is <code>#tabs-deeplink-2</code> then the second tab will become active. If the location hash is <code>#tabs-deeplink-content-2</code> then the second tab will become active, and the browser will scroll to the paragraph tag with ID, tabs-deeplink-content-2.</p>
    <div class="row">
      <div class="large-6 columns">
        <h6 class="subheader">Deep Links</h6>
        <ul class="tabs" data-tab="" role="tablist" data-options="deep_linking: true">
          <li class="tab-title active" role="presentational"><a href="#tabs-deeplink-1" role="tab" tabindex="0" aria-selected="true" controls="tabs-deeplink-1">Tab 1</a></li>
          <li class="tab-title active" role="presentational"><a href="#tabs-deeplink-2" role="tab" tabindex="0" aria-selected="true" controls="tabs-deeplink-2">Tab 2</a></li>
          <li class="tab-title active" role="presentational"><a href="#tabs-deeplink-3" role="tab" tabindex="0" aria-selected="true" controls="tabs-deeplink-3">Tab 3</a></li>
        </ul>
      </div>
      <div class="large-6 columns">
        <h6 class="subheader">Target Link Tabs</h6>
        <div class="tabs-content">
          <section id="tabs-deeplink-1" role="tabpanel" aria-hidden="false" class="content active">
            <h2>First Panel Header</h2>
            <p id="tabs-deeplink-content-1">First panel content goes here...</p>
          </section>
          <section id="tabs-deeplink-2" role="tabpanel" aria-hidden="true" class="content">
            <h2>Second Panel Header</h2>
            <p id="tabs-deeplink-content-2"> Second panel content goes here...</p>
          </section>
          <section id="tabs-deeplink-3" role="tabpanel" aria-hidden="true" class="content">
            <h2>Third Panel Header</h2>
            <p id="tabs-deeplink-content-3"> Third panel content goes here...</p>
          </section>
        </div>
      </div>
    </div>


  </div>

  <div id="tabs-callbacks" class="content">

    <h4 class="subheader">Tab Callbacks</h4>
    <p>There are two ways to bind to callbacks in your tabs.</p>
    <div class="row">
      <div class="large-6 columns">
        <h6 class="subheader">Callback Function</h6>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">script</span>&gt;</span><span class="javascript">
$(document).foundation({
  tab: {
    callback : <span class="function"><span class="keyword">function</span> <span class="params">(tab)</span> {</span>
      console.log(tab);
    }
  }
});
</span><span class="tag">&lt;/<span class="title">script</span>&gt;</span></div></code></pre>
      </div>
      <div class="large-6 columns">
        <h6 class="subheader">Toggled Event</h6>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">script</span>&gt;</span><span class="javascript">
$(<span class="string">'#myTabs'</span>).on(<span class="string">'toggled'</span>, <span class="function"><span class="keyword">function</span> <span class="params">(event, tab)</span> {</span>
  console.log(tab);
});
</span><span class="tag">&lt;/<span class="title">script</span>&gt;</span></div></code></pre>
      </div>
    </div>


  </div>

  <div id="tabs-accessibility" class="content">

    <h4 class="subheader">Accessible Tabs</h4>
    <p>You can make tabs more accessible by using the code snippet below. The tabs are keyboard accessible meaning that a user can use the tab key or arrow keys to navigate through them. The role of <code>tablist</code> tells a screen reader what the element is and reads the necessary content.</p>
    <div class="row">
      <div class="large-6 columns">
        <h6 class="subheader">Rendered HTML</h6>
        <ul class="tabs" data-tab="" role="tablist">
          <li class="tab-title active" role="presentational"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Tab 1</a></li>
          <li class="tab-title" role="presentational"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" controls="panel2-2">Tab 2</a></li>
          <li class="tab-title" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3">Tab 3</a></li>
          <li class="tab-title" role="presentational"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" controls="panel2-4">Tab 4</a></li>
        </ul>
        <div class="tabs-content">
          <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
            <h2>First panel content goes here...</h2>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
            <h2>Second panel content goes here...</h2>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
            <h2>Third panel content goes here...</h2>
          </section>
          <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
            <h2>Fourth panel content goes here...</h2>
          </section>
        </div>
      </div>
      <div class="large-6 columns">
        <h6 class="subheader">HTML</h6>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"tabs"</span> <span class="attribute">data-tab</span> <span class="attribute">role</span>=<span class="value">"tablist"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"tab-title active"</span> <span class="attribute">role</span>=<span class="value">"presentational"</span> &gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2-1"</span> <span class="attribute">role</span>=<span class="value">"tab"</span> <span class="attribute">tabindex</span>=<span class="value">"0"</span> <span class="attribute">aria-selected</span>=<span class="value">"true"</span> <span class="attribute">controls</span>=<span class="value">"panel2-1"</span>&gt;</span>Tab 1<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"tab-title"</span> <span class="attribute">role</span>=<span class="value">"presentational"</span> &gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2-2"</span> <span class="attribute">role</span>=<span class="value">"tab"</span> <span class="attribute">tabindex</span>=<span class="value">"0"</span><span class="attribute">aria-selected</span>=<span class="value">"false"</span> <span class="attribute">controls</span>=<span class="value">"panel2-2"</span>&gt;</span>Tab 2<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"tab-title"</span> <span class="attribute">role</span>=<span class="value">"presentational"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2-3"</span> <span class="attribute">role</span>=<span class="value">"tab"</span> <span class="attribute">tabindex</span>=<span class="value">"0"</span> <span class="attribute">aria-selected</span>=<span class="value">"false"</span> <span class="attribute">controls</span>=<span class="value">"panel2-3"</span>&gt;</span>Tab 3<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="value">"tab-title"</span> <span class="attribute">role</span>=<span class="value">"presentational"</span> &gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#panel2-4"</span> <span class="attribute">role</span>=<span class="value">"tab"</span> <span class="attribute">tabindex</span>=<span class="value">"0"</span> <span class="attribute">aria-selected</span>=<span class="value">"false"</span> <span class="attribute">controls</span>=<span class="value">"panel2-4"</span>&gt;</span>Tab 4<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">ul</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"tabs-content"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">section</span> <span class="attribute">role</span>=<span class="value">"tabpanel"</span> <span class="attribute">aria-hidden</span>=<span class="value">"false"</span> <span class="attribute">class</span>=<span class="value">"content active"</span> <span class="attribute">id</span>=<span class="value">"panel2-1"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">h2</span>&gt;</span>First panel content goes here...<span class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">section</span>&gt;</span>
  <span class="tag">&lt;<span class="title">section</span> <span class="attribute">role</span>=<span class="value">"tabpanel"</span> <span class="attribute">aria-hidden</span>=<span class="value">"true"</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel2-2"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">h2</span>&gt;</span>Second panel content goes here...<span class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">section</span>&gt;</span>
  <span class="tag">&lt;<span class="title">section</span> <span class="attribute">role</span>=<span class="value">"tabpanel"</span> <span class="attribute">aria-hidden</span>=<span class="value">"true"</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel2-3"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">h2</span>&gt;</span>Third panel content goes here...<span class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">section</span>&gt;</span>
  <span class="tag">&lt;<span class="title">section</span> <span class="attribute">role</span>=<span class="value">"tabpanel"</span> <span class="attribute">aria-hidden</span>=<span class="value">"true"</span> <span class="attribute">class</span>=<span class="value">"content"</span> <span class="attribute">id</span>=<span class="value">"panel2-4"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">h2</span>&gt;</span>Fourth panel content goes here...<span class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">section</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>
      </div>
    </div>


  </div>
  <div id="tabs-customization" class="content">

    <h4 class="subheader">Customizing Tables</h4>
    <p>Tabs can be easily customized with the Sass variables provided in the <code>_settings.scss</code> file.</p>
    <h6 class="subheader">SCSS</h6>
    <pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-tabs-classes<span class="value">: $include-html-classes;</span>

$tabs-navigation-<span class="attribute">padding</span><span class="value">: rem-calc(<span class="number">16</span>);</span>
$tabs-navigation-bg-<span class="attribute">color</span><span class="value">: $silver;</span>
$tabs-navigation-active-bg-<span class="attribute">color</span><span class="value">: $white;</span>
$tabs-navigation-hover-bg-<span class="attribute">color</span><span class="value">: scale-color($tabs-navigation-bg-color, $lightness: -<span class="number">6</span>%);</span>
$tabs-navigation-<span class="attribute">font</span>-<span class="attribute">color</span><span class="value">: $jet;</span>
$tabs-navigation-active-<span class="attribute">font</span>-<span class="attribute">color</span><span class="value">: $tabs-navigation-font-color;</span>
$tabs-navigation-<span class="attribute">font-size</span><span class="value">: rem-calc(<span class="number">16</span>);</span>
$tabs-navigation-<span class="attribute">font-family</span><span class="value">: $body-font-family;</span>

$tabs-<span class="attribute">content</span>-<span class="attribute">margin-bottom</span><span class="value">: rem-calc(<span class="number">24</span>);</span>
$tabs-<span class="attribute">content</span>-<span class="attribute">padding</span><span class="value">: $column-gutter/<span class="number">2</span>;</span>

$tabs-vertical-navigation-<span class="attribute">margin-bottom</span><span class="value">: <span class="number">1.25</span>rem;</span></div></code></pre>


  </div>
</div>

<hr />
