<section id="topbar">
  <h2>Top Bar</h2>
  <h3 class="subheader">The Foundation Top Bar gives you a great way to display a complex navigation bar on small, medium or large screens.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#topbar-preview">Preview</a></dd>
    <dd><a href="#topbar-basic">Basic</a></dd>
    <dd><a href="#topbar-advanced">Advanced</a></dd>
    <dd><a href="#topbar-positioning">Positioning</a></dd>
    <dd><a href="#topbar-builtins">Builtins</a></dd>
    <dd><a href="#topbar-accessibility">Accessibility</a></dd>
    <dd><a href="#topbar-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> topbar-preview }}
    {{> topbar-basic }}
    {{> topbar-advanced }}
    {{> topbar-positioning }}
    {{> topbar-builtins }}
    {{> topbar-accessibility }}
    {{> topbar-customization }}
  </div>

</section>

<hr />
