<section id="type">

  <h2>Typography</h2>
  <h3 class="subheader">Typography in Foundation 5 is meant to make your life easier by providing clean, attractive, simple default styles for all of the most basic typographical elements.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#type-preview">Preview</a></dd>
    <dd><a href="#type-headers">Headers</a></dd>
    <dd><a href="#type-copy">Copy</a></dd>
    <dd><a href="#type-lists">Lists</a></dd>
    <dd><a href="#type-vcards">V-Cards</a></dd>
    <dd><a href="#type-customization">Customization</a></dd>
  </dl>

  <div class="tabs-content">
    {{> type-preview }}
    {{> type-headers }}
    {{> type-copy }}
    {{> type-lists }}
    {{> type-vcards }}
    {{> type-customization }}
  </div>

</section>

<hr />
