<section id="visibility-classes">
  
  <h2>Visibility Classes</h2>
  <h3 class="subheader">Visibility classes let you show or hide elements based on screen size or device orientation. You can use visibility classes to control which elements users see depending on their browsing environment.</h3>

  <dl class="tabs" data-tab="" data-options="deep_linking:true">
    <dd class="active"><a href="#visibility-show">Show</a></dd>
    <dd><a href="#visibility-hide">Hide</a></dd>
    <dd><a href="#visibility-orientation">Orientation</a></dd>
    <dd><a href="#visibility-touch">Touch</a></dd>
  </dl>

  <div class="tabs-content">
    {{> visibility-show }}
    {{> visibility-hide}}
    {{> visibility-orientation }}
    {{> visibility-touch }}
  </div>

</section>

<hr />
