<section id="tables-basic" class="content active">

  <h4 class="subheader">Basic Tables</h4>
  <p>You can create a table using minimal markup.</p>

  <h6 class="subheader">Rendered HTML</h6>
  <table>
    <thead>
      <tr>
        <th width="200">Table Header</th>
        <th>Table Header</th>
        <th width="150">Table Header</th>
        <th width="150">Table Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
    </tbody>
  </table>

  <br />
  
  <h6 class="subheader">HTML</h6>
  <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">table</span>&gt;</span>
  <span class="tag">&lt;<span class="title">thead</span>&gt;</span>
    <span class="tag">&lt;<span class="title">tr</span>&gt;</span>
      <span class="tag">&lt;<span class="title">th</span> <span class="attribute">width</span>=<span class="value">"200"</span>&gt;</span>Table Header<span class="tag">&lt;/<span class="title">th</span>&gt;</span>
      <span class="tag">&lt;<span class="title">th</span>&gt;</span>Table Header<span class="tag">&lt;/<span class="title">th</span>&gt;</span>
      <span class="tag">&lt;<span class="title">th</span> <span class="attribute">width</span>=<span class="value">"150"</span>&gt;</span>Table Header<span class="tag">&lt;/<span class="title">th</span>&gt;</span>
      <span class="tag">&lt;<span class="title">th</span> <span class="attribute">width</span>=<span class="value">"150"</span>&gt;</span>Table Header<span class="tag">&lt;/<span class="title">th</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">tr</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">thead</span>&gt;</span>
  <span class="tag">&lt;<span class="title">tbody</span>&gt;</span>
    <span class="tag">&lt;<span class="title">tr</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>This is longer content Donec id elit non mi porta gravida at eget metus.<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">tr</span>&gt;</span>
    <span class="tag">&lt;<span class="title">tr</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">tr</span>&gt;</span>
    <span class="tag">&lt;<span class="title">tr</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
      <span class="tag">&lt;<span class="title">td</span>&gt;</span>Content Goes Here<span class="tag">&lt;/<span class="title">td</span>&gt;</span>
    <span class="tag">&lt;/<span class="title">tr</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">tbody</span>&gt;</span>
<span class="tag">&lt;/<span class="title">table</span>&gt;</span></div></code></pre>

</section>
