<section id="block-grid-advanced" class="content">

  <h4 class="subheader">Advanced Block Grids</h4>
  <p>Use additional classes to specify a different number of items in a row for each screen size.</p>

  <div class="row">
    <div class="large-6 columns">

      <h6 class="subheader">Rendered HTML</h6>
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li><img class="th" src="assets/img/examples/comet-th.jpg"></li>
        <li><img class="th" src="assets/img/examples/earth-th.jpg"></li>
        <li><img class="th" src="assets/img/examples/launch-th.jpg"></li>
        <li><img class="th" src="assets/img/examples/satelite-th.jpg"></li>
        <li><img class="th" src="assets/img/examples/space-th.jpg"></li>
        <li><img class="th" src="assets/img/examples/spacewalk-th.jpg"></li>
      </ul>

    </div>
    <div class="large-6 columns">

      <h6 class="subheader">HTML</h6>
      <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"small-block-grid-2 medium-block-grid-3 large-block-grid-4"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></div></code></pre>

    </div>
  </div>

</section>
