<section id="block-grid-basic" class="content active">

  <h4 class="subheader">Basic Block Grids</h4>
  <p>Use a simple <code>small-block-grid-#</code> class to code up the block grid and specify the number of items in a row.</p>

  <div class="row">
    <div class="large-6 columns">

      <h6 class="subheader">Rendered HTML</h6>
      <ul class="small-block-grid-3">
        <li><img class="th" src="../dist/assets/img/examples/satelite.jpg"></li>
        <li><img class="th" src="../dist/assets/img/examples/space.jpg"></li>
        <li><img class="th" src="../dist/assets/img/examples/spacewalk.jpg"></li>
      </ul>

    </div>
    <div class="large-6 columns">

      <h6 class="subheader">HTML</h6>
      <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="value">"small-block-grid-3"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="comment">&lt;!-- Your content goes here --&gt;</span><span class="tag">&lt;/<span class="title">li</span>&gt;</span>
<span class="tag">&lt;/<span class="title">ul</span>&gt;</span></div></code></pre>

    </div>
  </div>

</section>
