<section id="tabs-customization" class="content">

  <h4 class="subheader">Customizing Tables</h4>
  <p>Tabs can be easily customized with the Sass variables provided in the <code>_settings.scss</code> file.</p>
  
  <h6 class="subheader">SCSS</h6>
  <pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-tabs-classes<span class="value">: $include-html-classes;</span>

$tabs-navigation-<span class="attribute">padding</span><span class="value">: rem-calc(<span class="number">16</span>);</span>
$tabs-navigation-bg-<span class="attribute">color</span><span class="value">: $silver;</span>
$tabs-navigation-active-bg-<span class="attribute">color</span><span class="value">: $white;</span>
$tabs-navigation-hover-bg-<span class="attribute">color</span><span class="value">: scale-color($tabs-navigation-bg-color, $lightness: -<span class="number">6</span>%);</span>
$tabs-navigation-<span class="attribute">font</span>-<span class="attribute">color</span><span class="value">: $jet;</span>
$tabs-navigation-active-<span class="attribute">font</span>-<span class="attribute">color</span><span class="value">: $tabs-navigation-font-color;</span>
$tabs-navigation-<span class="attribute">font-size</span><span class="value">: rem-calc(<span class="number">16</span>);</span>
$tabs-navigation-<span class="attribute">font-family</span><span class="value">: $body-font-family;</span>

$tabs-<span class="attribute">content</span>-<span class="attribute">margin-bottom</span><span class="value">: rem-calc(<span class="number">24</span>);</span>
$tabs-<span class="attribute">content</span>-<span class="attribute">padding</span><span class="value">: $column-gutter/<span class="number">2</span>;</span>

$tabs-vertical-navigation-<span class="attribute">margin-bottom</span><span class="value">: <span class="number">1.25</span>rem;</span></div></code></pre>

</section>
