<section id="tabs-preview" class="content active">

  <h6 class="subheader">Horizontal Tabs</h6>
  <dl class="tabs" data-tab="">
    <dd class="active"><a href="#tab1">Tab 1</a></dd>
    <dd><a href="#tab2">Tab 2</a></dd>
    <dd><a href="#tab3">Tab 3</a></dd>
    <dd><a href="#tab4">Tab 4</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="tab1">
      <p>This is the first panel of the horizontal tab example. This is the first panel of the horizontal tab example.</p>
    </div>
    <div class="content" id="tab2">
      <p>This is the second panel of the horizontal tab example. This is the second panel of the horizontal tab example.</p>
    </div>
    <div class="content" id="tab3">
      <p>This is the third panel of the horizontal tab example. This is the third panel of the horizontal tab example.</p>
    </div>
    <div class="content" id="tab4">
      <p>This is the fourth panel of the horizontal tab example. This is the fourth panel of the horizontal tab example.</p>
    </div>
  </div>

  <br />

  <h6 class="subheader">Vertical</h6>
  <dl class="tabs vertical" data-tab="">
    <dd class="active"><a href="#tab1">Tab 1</a></dd>
    <dd><a href="#tab2">Tab 2</a></dd>
    <dd><a href="#tab3">Tab 3</a></dd>
    <dd><a href="#tab4">Tab 4</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="tab1">
      <p>This is the first panel of the vertical tab example. This is the first panel of the vertical tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, pariatur accusantium magni cumque vel voluptates illum repellendus sed dignissimos magnam! Deleniti, fugit tempore quibusdam molestias iusto asperiores incidunt sint nemo?</p>
    </div>
    <div class="content" id="tab2">
      <p>This is the second panel of the vertical tab example. This is the second panel of the vertical tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, pariatur accusantium magni cumque vel voluptates illum repellendus sed dignissimos magnam! Deleniti, fugit tempore quibusdam molestias iusto asperiores incidunt sint nemo?</p>
    </div>
    <div class="content" id="tab3">
      <p>This is the third panel of the vertical tab example. This is the third panel of the vertical tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, pariatur accusantium magni cumque vel voluptates illum repellendus sed dignissimos magnam! Deleniti, fugit tempore quibusdam molestias iusto asperiores incidunt sint nemo?</p>
    </div>
    <div class="content" id="tab4">
      <p>This is the fourth panel of the vertical tab example. This is the fourth panel of the vertical tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, pariatur accusantium magni cumque vel voluptates illum repellendus sed dignissimos magnam! Deleniti, fugit tempore quibusdam molestias iusto asperiores incidunt sint nemo?</p>
    </div>
  </div>

</section>
