<section id="split-buttons-preview" class="content active">

  <h6 class="subheader">Basic</h6>
  <a href="#" class="button split">Split Button <span data-dropdown="drop"></span></a>
  <ul id="drop" class="f-dropdown" data-dropdown-content="">
    <li><a href="#">This is a link</a></li>
    <li><a href="#">This is another</a></li>
    <li><a href="#">Yet another</a></li>
  </ul>

  <br />

  <h6 class="subheader">Advanced (sizes & shapes)</h6>
  <div class="row">
    <div class="small-6 columns">
      <a href="#" class="button split tiny">Tiny Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split small">Small Button <span data-dropdown="drop" aria-expanded="false"></a><br>  </div>
    <div class="small-6 columns">
      <a href="#" class="button split">Default Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split large">Large Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-12 columns">
      <a href="#" class="button split expand">Expanded Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split round">Round Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split radius">Radius Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
  </div>

  <br />

  <h6 class="subheader">Colors</h6>
  <div class="row">
    <div class="small-6 columns">
      <a href="#" class="button split">Default Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split success">Success Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split secondary">Secondary Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split alert">Alert Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split info">Info Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button split disabled">Disabled Button <span data-dropdown="drop" aria-expanded="false"></a>
    </div>
  </div>

</section>
