<h2 id="grid">Grid</h2>
<h3 class="subheader">Create powerful multi-device layouts quickly and easily with the default 12-column, nest-able Foundation grid. If you're familiar with grid systems, you'll feel right at home. If not, you'll learn quickly.</h3>

<ul class="accordion" data-accordion>

  <li class="accordion-navigation">
    <a href="#grid-basic"><h4>Basic</h4></a>
    <div id="grid-basic" class="content">

      <h5 class="subheader">Basic Foundation Grids</h5>
      <p>The following text should describe the screen size you're using:</p>

      <hr />
    </div>
  </li>

</ul>

<hr />
