<div class="sticky">

  <a class="show-for-large-up" href="https://github.com/christhekeele/foundation-sandbox"><img style="z-index: 1000; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  
  <nav class="top-bar" data-topbar role="navigation">

    <ul class="title-area">

      <li class="name">
        <h1><a href="#top">Foundation Sandbox</a></h1>
      </li>

      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

    </ul>

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <!-- <ul class="right">

        <li class="active"><a href="#">Right Button Active</a></li>

        <li class="has-dropdown">
          <a href="#">Right Button Dropdown</a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
            <li class="active"><a href="#">Active link in dropdown</a></li>
          </ul>
        </li>

      </ul> -->

      <!-- Left Nav Section -->
      <ul class="left">

        <li class="has-dropdown">
          <a>Structure</a>
          <ul class="dropdown">

            <li class="has-dropdown">
              <a href="#visibility">Visibility</a>
              <ul class="dropdown">
                <li><a href="#visibility-show">Show</a></li>
                <li><a href="#visibility-hide">Hide</a></li>
                <li><a href="#visibility-orientation">Orientation</a></li>
                <li><a href="#visibility-touch">Touch</a></li>
                <li><a href="#visibility-print">Print</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#grid">Grid</a>
              <ul class="dropdown">
                <li><a href="#grid-preview">Preview</a></li>
                <li><a href="#grid-basic">Basic</a></li>
                <li><a href="#grid-incomplete">Incomplete</a></li>
                <li><a href="#grid-collapsable">Collapsable</a></li>
                <li><a href="#grid-centering">Centering</a></li>
                <li><a href="#grid-reordering">Re-Ordering</a></li>
                <li><a href="#grid-customization">Customization</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#block-grid">Block Grid</a>
              <ul class="dropdown">
                <li><a href="#block-grid-preview">Preview</a></li>
                <li><a href="#block-grid-basic">Basic</a></li>
                <li><a href="#block-grid-advanced">Advanced</a></li>
                <li><a href="#block-grid-customization">Customization</a></li>
              </ul>
            </li>

          </ul>
        </li>

        <li class="has-dropdown">
          <a>Navigation</a>
          <ul class="dropdown">

            <li class="has-dropdown">
              <a href="#topbar">Top Bar</a>
              <ul class="dropdown">
                <li><a href="#topbar-preview">Preview</a></li>
                <li><a href="#topbar-basic">Basic</a></li>
                <li><a href="#topbar-advanced">Advanced</a></li>
                <li><a href="#topbar-positioning">Positioning</a></li>
                <li><a href="#topbar-builtins">Builtins</a></li>
                <li><a href="#topbar-accessibility">Accessibility</a></li>
                <li><a href="#topbar-customization">Customization</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#breadcrumbs">Breadcrumbs</a>
              <ul class="dropdown">
                <li><a href="#breadcrumbs-preview">Preview</a></li>
                <li><a href="#breadcrumbs-basic">Basic</a></li>
                <li><a href="#breadcrumbs-accessibility">Accessibility</a></li>
                <li><a href="#breadcrumbs-customization">Customization</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#pagination">Pagination</a>
              <ul class="dropdown">
                <li><a href="#pagination-preview">Preview</a></li>
                <li><a href="#pagination-basic">Basic</a></li>
                <li><a href="#pagination-advanced">Advanced</a></li>
                <li><a href="#pagination-accessibility">Accessibility</a></li>
                <li><a href="#pagination-customization">Customization</a></li>
              </ul>
            </li>

          </ul>
        </li>

        <li class="has-dropdown">
          <a>Media</a>
          <ul class="dropdown"></ul>
        </li>

        <li class="has-dropdown">
          <a>Forms</a>
          <ul class="dropdown"></ul>
        </li>

        <li class="has-dropdown">
          <a>Buttons</a>
          <ul class="dropdown">

            <li class="has-dropdown">
              <a href="#buttons">Buttons</a>
              <ul class="dropdown">
                <li><a href="#buttons-preview">Preview</a></li>
                <li><a href="#buttons-basic">Basic</a></li>
                <li><a href="#buttons-sizes">Sizes</a></li>
                <li><a href="#buttons-colors">Colors</a></li>
                <li><a href="#buttons-accessibility">Accessibility</a></li>
                <li><a href="#buttons-customization">Customization</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#button-groups">Button Groups</a>
              <ul class="dropdown">
                <li><a href="#button-groups-preview">Preview</a></li>
                <li><a href="#button-groups-basic">Basic</a></li>
                <li><a href="#button-groups-advanced">Advanced</a></li>
                <li><a href="#button-groups-styling">Styles</a></li>
                <li><a href="#button-groups-stacking">Stacking</a></li>
                <li><a href="#button-groups-bars">Bars</a></li>
                <li><a href="#button-groups-customization">Customization</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#split-buttons">Split Buttons</a>
              <ul class="dropdown">
                <li><a href="#split-buttons-preview">Preview</a></li>
                <li><a href="#split-buttons-basic">Basic</a></li>
                <li><a href="#split-buttons-advanced">Advanced</a></li>
                <li><a href="#split-buttons-custom-pip">Custom Pip</a></li>
                <li><a href="#split-buttons-customization">Customization</a></li>
              </ul>
            </li>

          </ul>
        </li>

        <li class="has-dropdown">
          <a>Typography</a>
          <ul class="dropdown">

            <li class="has-dropdown">
              <a href="#type">Type</a>
              <ul class="dropdown">
                <li><a href="#type-preview">Preview</a></li>
                <li><a href="#type-headers">Headers</a></li>
                <li><a href="#type-copy">Copy</a></li>
                <li><a href="#type-lists">Lists</a></li>
                <li><a href="#type-vcards">V-Cards</a></li>
                <li><a href="#type-customization">Customization</a></li>
              </ul>
            </li>

          </ul>
        </li>

        <li class="has-dropdown">
          <a>Callouts & Prompts</a>
          <ul class="dropdown">

            <li class="has-dropdown">
              <a href="#alerts">Alerts</a>
              <ul class="dropdown">
                <li><a href="#alerts-preview">Preview</a></li>
                <li><a href="#alerts-basic">Basic</a></li>
                <li><a href="#alerts-advanced">Advanced</a></li>
                <li><a href="#alerts-accessibility">Accessibility</a></li>
                <li><a href="#alerts-customization">Customization</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#panels">Panels</a>
              <ul class="dropdown">
                <li><a href="#panels-preview">Preview</a></li>
                <li><a href="#panels-basic">Basic</a></li>
                <li><a href="#panels-advanced">Advanced</a></li>
                <li><a href="#panels-customization">Customization</a></li>
              </ul>
            </li>

          </ul>
        </li>

        <li class="has-dropdown">
          <a>Content</a>
          <ul class="dropdown">

            <li class="has-dropdown">
              <a href="#tables">Tables</a>
              <ul class="dropdown">
                <li><a href="#tables-preview">Preview</a></li>
                <li><a href="#tables-basic">Basic</a></li>
                <li><a href="#tables-accessibility">Accessibility</a></li>
                <li><a href="#tables-customization">Customization</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#accordion">Accordion</a>
              <ul class="dropdown">
                <li><a href="#accordion-preview">Preview</a></li>
                <li><a href="#accordion-basic">Basic</a></li>
                <li><a href="#accordion-distributed">Distributed</a></li>
                <li><a href="#accordion-callbacks">Callbacks</a></li>
                <li><a href="#accordion-customization">Customization</a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#tabs">Tabs</a>
              <ul class="dropdown">
                <li><a href="#tabs-preview">Preview</a></li>
                <li><a href="#tabs-horizontal">Horizontal</a></li>
                <li><a href="#tabs-vertical">Vertical</a></li>
                <li><a href="#tabs-advanced">Advanced</a></li>
                <li><a href="#tabs-accessibility">Accessibility</a></li>
                <li><a href="#tabs-customization">Customization</a></li>
              </ul>
            </li>

          </ul>
        </li>

      </ul>

    </section>

  </nav>
</div>
