<div class="welcome panel">
  <h1>
    Foundation Sandbox
    <small>Play nice.</small>
  </h1>

  <h2 class="subheader">
    This site displays every single Foundation element so that you can customize everything and take it in at a glance.
  </h2>

  <p>
    Fork it and use it as a starting point to develop your own customized Foundation installation. Then, import your stylesheets into your new website.
  </p>
  <p>
    Or, customize it and use the Grunt, Compass, and Assemble stack it's built with as the starting point for your site.
  </p>
  <p>
    Every component displays the full set of Foundation documentation to assist you in its customization.
  </p>

</div>
