<section id="buttons-preview" class="content active">

  <h6 class="subheader">Basic</h6>
  <a href="#" class="button">Default Button</a>

  <br />

  <h6 class="subheader">Sizes & Shapes</h6>
  <div class="row">
    <div class="small-6 columns">
      <a href="#" class="button tiny">Tiny Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button small">Small Button</a><br>  </div>
    <div class="small-6 columns">
      <a href="#" class="button">Default Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button large">Large Button</a>
    </div>
    <div class="small-12 columns">
      <a href="#" class="button expand">Expanded Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button round">Round Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button radius">Radius Button</a>
    </div>
  </div>

  <br />

  <h6 class="subheader">Colors</h6>
  <div class="row">
    <div class="small-6 columns">
      <a href="#" class="button">Default Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button success">Success Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button secondary">Secondary Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button alert">Alert Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button info">Info Button</a>
    </div>
    <div class="small-6 columns">
      <a href="#" class="button disabled">Disabled Button</a>
    </div>
  </div>

</section>
