<section id="buttons-sizes" class="content">

  <h4 class="subheader">Button Sizing</h4>
  <p>Additional classes can be added to your component to change its size and shape.</p>

  <div class="row">
    <div class="large-6 columns">

      <h6 class="subheader">Rendered HTML</h6>
      <div class="row">
        <div class="small-6 columns">
          <a href="#" class="button tiny">Tiny Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button small">Small Button</a><br>  </div>
        <div class="small-6 columns">
          <a href="#" class="button">Default Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button large">Large Button</a>
        </div>
        <div class="small-12 columns">
          <a href="#" class="button expand">Expanded Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button round">Round Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button radius">Radius Button</a>
        </div>
      </div>

    </div>
    <div class="large-6 columns">
      
      <h6 class="subheader">HTML</h6>
      <pre><code class="language-html"><div class="code-container"><span class="comment">&lt;!-- Size Classes --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button tiny"</span>&gt;</span>Tiny Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button small"</span>&gt;</span>Small Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span><br><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button"</span>&gt;</span>Default Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button disabled"</span>&gt;</span>Disabled Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button large"</span>&gt;</span>Large Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button expand"</span>&gt;</span>Expanded Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="comment">&lt;!-- Radius Classes --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button round"</span>&gt;</span>Round Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button radius"</span>&gt;</span>Radius Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>

    </div>
  </div>

</section>
