<section id="buttons-colors" class="content">

  <h4 class="subheader">Button Colors</h4>
  <p>Additional classes can be added to your component to change its color.</p>

  <div class="row">
    <div class="large-6 columns">

      <h6 class="subheader">Rendered HTML</h6>
      <div class="row">
        <div class="small-6 columns">
          <a href="#" class="button">Default Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button success">Success Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button secondary">Secondary Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button alert">Alert Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button info">Info Button</a>
        </div>
        <div class="small-6 columns">
          <a href="#" class="button disabled">Disabled Button</a>
        </div>
      </div>

    </div>
    <div class="large-6 columns">
      
      <h6 class="subheader">HTML</h6>
      <pre><code class="language-html"><div class="code-container"><span class="comment">&lt;!-- Color Classes --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button"</span>&gt;</span>Default Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button success"</span>&gt;</span>Success Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button secondary"</span>&gt;</span>Secondary Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button alert"</span>&gt;</span>Alert Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button info"</span>&gt;</span>Info Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"button disabled"</span>&gt;</span>Disabled Button<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>

    </div>
  </div>

</section>
