<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Sandbox</title>
    <link rel="stylesheet" href="{{assets}}/css/app.css" />
    <link rel="stylesheet" href="{{assets}}/css/sandbox.css" />
    <link rel="stylesheet" href="{{assets}}/css/foundation-icons.css" />
    <script src="{{assets}}/js/modernizr.js"></script>
  </head>

  <body>

    {{> menu }}

    <section id="top" role="main">
      {{> body }}
    </section>

    <script src="{{assets}}/js/all.js"></script>

  </body>

</html>
